h1{
	text-align: center;
}
#back-layer {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: gray;
	opacity: 0.8;
	z-index: 998;
	display:none;
}
#modal {
	position: absolute;
	min-width: 50%;
	min-height: 70%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #c0c0c0;
	text-align: center;
	z-index: 999;
	display:none;
}

#modal-time{
	width: 280px;
    text-align: center;
}

.must{
	color:red;
}

.signature{
	text-align: right;
	height:50px;
}

#printArea{
	height: 100%;
	display: none;
}

.staffDiv{
	width: 100%;
	margin-bottom: 30px;
}

.modalInput{
	color:black;
	background-color: #c0c0c0;
	border:none;
}

.printApp {
	height:90%;
}
.printApp th{
	border: solid 1px #333;
	width:20%;
}
.printApp td{
	border: solid 1px #333;
	width:80%;
}
.highTr{
	height:100px;
}
.underline{
	text-decoration: underline;
}

.center{
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}


.manager{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.manager table{
	width:100%;
	table-layout: fixed;
	.department{
		width:7%;
	}
	.name{
		width:8%;
	}
	.pattern{
		width:10%;
	}
	.time{
		width:20%;
	}
	.vote{
		width:12%;
	}
}



.manager th{
	border: solid 1px #333;
}

.manager td{
	border: solid 1px #333;
	text-align:center;
}

.manager .reasonTd{
	word-break: break-word;
	text-align: left;
}

